<div id="pages">
	<div class="page" id="home">
		welcome to the goodmarks app! home pages should be useful
		<div>
			use Deck to make slides
		</div>
	</div>
	<div class="page" id="register">
		<div class="info">
			<h2>Parents Register!</h2>
		</div>
		<div class="reg-form">
			<form>
				<input type="email" placeholder="email here"/>
				<input type="password" placeholder="password here"/>

				<div>
					<h3>[fb TWITTER etc CONNECT HERE]</h3>
				</div>
				<button>Register</button>
			</form>
		</div>
	</div>
	<div class="page" id="marks">
		<a href="javascript://" class="popup" data-type="job">add a job!</a>
		<div>
			<canvas id="sticker-board"></canvas>
		</div>
	</div>
	<div class="page" id="parents">
		<div class="kids">
			<div class="kid">
				<div class="activity"></div>
				<div class="requested-jobs"></div>
			</div>
		</div>
	</div>
	<div class="page" id="graphs">
		<div>graph per kid per week</div>
	</div>
</div>
<div id="popups">
	<div class="popup" data-type="job"></div>
	<div class="popup" data-type="job/approve"></div>
	<div class="popup" data-type="kid">
		<label>Name:</label><input type="text"/>
		<br/>
		<button>Save</button>
	</div>
</div>