<!DOCTYPE html>
<html>
	<head>
		<title>Goodmarks. Chore Tracker</title>
		<link rel='stylesheet' href='/app.css'/>
	</head>
	<body>
		<div id="main">
			<div>
				<h1>Goodmarks! Chore Tracker</h1>
			</div>
			<%- body%>
		</div>

	</body>
</html>